.navbar-container {
  max-width: 100dvw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid rgb(229, 228, 229);
}

.logo-Tracker {
  border-radius: 10px;
}

.logo-container a {
  display: flex;
  flex-direction: row;
}
