.sidebar {
  width: 100%;
  padding: 20px;
  color: hsl(0, 0%, 60%);
  border-radius: 10px;
}

.sidebar-item {
  margin-bottom: 20px;
  padding: 8px 16px;
  background: hsl(0, 0%, 90%);
  border-radius: 5px;
  cursor: pointer;
}
.sidebar-item:hover {
  background: hsl(0, 0%, 40%);
}

.sidebar-item h2 {
  margin-bottom: 10px;
}

.sidebar-item p {
  margin: 0;
}

.none {
  color: inherit;
  text-decoration: none;
}
